@model IEnumerable<NovoNar.Web.Models.Table>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Nova">Register New table</a>
</p>

<partial name="_list" model="Model" /></partial>


